<h1><%= @list.name %></h1>
<%= link_to "Home", lists_path(@lists) %>



<h1>Movies in your list</h1>
<ul list-style: none>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title%></li>
    <li><%= movie.overview%></li>
    <li><%= movie.poster_url%></li>
    <li><%= movie.rating%></li>
    <%= link_to "Remove",
                  bookmark_path(Bookmark.find_by(movie: movie, list: @list)),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= link_to "Add a new movie", new_list_bookmark_path(@list) %> |

<%= link_to 'Back', lists_path %> |

<%= console %>